<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Voyage AI</title>

 
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  
  <div class="top-buttons">
  <button onclick="newChat()">🆕 Nouveau chat</button>
  <button onclick="showHistory()">📜 Historique</button>
  <button onclick="clearChat()">🗑️ Effacer</button>
  </div> 

<div class="app">

  <div class="header">
    🌍 Chat Voyage AI
  </div>


  <div class="chat" id="chat">
    <div class="msg bot">👋 Salut ! Où veux-tu voyager ?</div>
  </div>

  <div class="input-area">
    <input id="input" type="text" placeholder="Écris ton message...">
    <button onclick="send()">➤</button>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
let history = JSON.parse(localStorage.getItem("h")) || [];


function showHistory() {
  let chat = document.getElementById("chat");

  chat.innerHTML = "";

  if (history.length === 0) {
    chat.innerHTML = `<div class="msg bot">📜 Aucun historique</div>`;
    return;
  }

  history.forEach(item => {
    let user = document.createElement("div");
    user.className = "msg user";
    user.textContent = item.user;

    let bot = document.createElement("div");
    bot.className = "msg bot";
    bot.innerHTML = item.bot;

    chat.appendChild(user);
    chat.appendChild(bot);
  });

  chat.scrollTop = chat.scrollHeight;
}
function clearChat() {
  let chat = document.getElementById("chat");

  chat.innerHTML = `<div class="msg bot"> Nouveau chat </div>`;

  history = [];
}

async function send() {
  let input = document.getElementById("input");
  let chat = document.getElementById("chat");

  if (!input.value.trim()) return;

  // user message
  let user = document.createElement("div");
  user.className = "msg user";
  user.innerText = input.value;
  chat.appendChild(user);

  let message = input.value;
  input.value = "";

  // call Flask backend
  let res = await fetch("/chat", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ message: message })
  });

  let data = await res.json();

  // bot message
  let bot = document.createElement("div");
  bot.className = "msg bot";
  bot.innerHTML = marked.parse(data.reply);
  chat.appendChild(bot);
  history.push({
  user: message,
  bot: marked.parse(data.reply)
  });

  chat.scrollTop = chat.scrollHeight;
  localStorage.setItem("h", JSON.stringify(history));
}
function newChat() {
  let chat = document.getElementById("chat");

  chat.innerHTML = `<div class="msg bot">Nouveau chat </div>`;

}
</script>

</body>
</html>